@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1001;
        background: transparent;
        border: none;
    }


    .sidebar {
        display: block;
    }
}

@keyframes floatVertical {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Metal+Mania&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Metal+Mania&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(190deg, black, rgb(18, 18, 18));
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    padding-left: 20px;
    line-height: .8;
    font-size: large;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    /* aumenta 10% */
}

header .logo a {
    color: white;
    text-decoration: none;
}

header .vermelho {
    color: red;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menu-toggle:hover {
    transform: scale(1.1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.hidden {
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    border-bottom: 1px solid #333;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar.active {
    left: 0;
}

nav a {
    display: flex;
    color: #eee;
    margin-left: 1rem;
    text-decoration: none;
}

nav a:hover {
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    color: black;
}

.login {
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    color: black;
    background-color: white;
}

.hero {
    background: url('banner.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

p .slogan {
    font-family: 'Playfair';
}

.hero h2 {
    font-size: 2.5rem;
    color: #fff;
}

#capa {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.slide {
    position: absolute;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
    animation: floatVertical 4s ease-in-out infinite;
}

button {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    background-color: #ff4747;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: white;
    color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    line-height: .4;
    margin: 15px;
}

.container a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.container a:hover {
    transform: scale(1.05);
}

#galeria h1 {
    text-align: center;
}

#galeria img {
    width: 400px;
    margin: 1rem;
    border-radius: 1.5px;
}

#contato p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


#contato img.icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrar-area {text-align: center;
    padding: 15px  ;
    width: 200px;
    color: black;
    background-color: white;
}